<html>
<head>
  <link href="/static/website.css" rel="stylesheet"> 
</head>
<body>

<p style="font-family:'MuseoModerno'cursive;">This is a paragraph.</p>
<p style="color:white"size="10"style="font-family: 'Anonymous Pro', monospace"class="line-1 anim-typewriter" >
You look a bit lost.. click the home button to get back
</p>
<center>
<a href="http://stonk.ddns.net/" class="button"style="vertical-align:middle"><span>Home</span></a></center>
<center> <img src="https://distok.top/stickers/749043879713701898/749048937658449952.gif" alt="W3Schools.com" width="500" height="500"> </center>
<center>
<p style="color:white">
        Error 404 :/
</p>
</center>
<img src="https://discordbot.ga/assets/wavy-purple-by-nouridio.svg" alt="for some reason image could not be loaded :c" width="1440" height="900"> 


  

</body>
</html>