
<head>
<title>SomeApi</title>
<meta content="SomeApi" property="og:title" />
<meta content="An Api with lots of json and canvas endpoints" property="og:description" />
<meta content="/static/favicon-32x32.png" property="og:url" />
<meta content="/static/favicon-32x32.png" property="og:image" />
<meta content="#43B581" data-react-helmet="true" name="theme-color" />
<link rel="stylesheet" href="/static/style.css">

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link href="/static/website.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Gafata|Roboto:700' rel='stylesheet' type='text/css'>


</head>
<script type="text/javascript" src="/static/website.js"></script>
<body>

<div id="particles-js"></div>
  <script src='https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js'></script>
<script
src='https://threejs.org/examples/js/libs/stats.min.js'></script><script  src="/static/script.js"></script>
<div>
<div class="scene">
  <div class="cube">
    <a href="https://www.w3schools.com"
    <span class="side top">Only if your using api</span></a>
    
    <span class="side front">Api</span>
    
  </div>
<p></p>
  <div class="cube">
    <span class="side top">UserMode</span>
    <span class="side front">UserFriendly</span>
  </div>
</div>


 
</body> 
