<head>
<title>SomeApi</title>
<meta content="SomeApi" property="og:title" />
<meta content="An Api with lots of json and canvas endpoints" property="og:description" />
<meta content="/static/favicon-32x32.png" property="og:url" />
<meta content="/static/favicon-32x32.png" property="og:image" />
<meta content="#43B581" data-react-helmet="true" name="theme-color" />

<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
<link href="/static/website.css" rel="stylesheet">
</head>

<script>
  function ValidateEntry()
  {
    console.log("hi");
    // var Entry=document.getElementsByName("avatar")[0].value;
    // console.log("Entry"+Entry);
    // alert("The form was submitted");
    // if (Entry==""){Entry="https://cdn.discordapp.com/avatars/599266233350881291/a_fe7d8d7b2b445e3a1a51d28e4b7ef7bb.gif?size=2048"}
    return true;
  }
  </script>
<div class="header">
	<h1>SomeApi</h1>
	<p>A collection of useful Apis made by me</p>
  <h6>this is api use api yes use api this api pog yes api use</h6>
</div>

<div style="width:100%">
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Dog facts {JSON}</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">An endpoint that sends a random dog fact</h3>
        <form action="https://SomeApi.dragonroyale.repl.co/dogs/fact?number=1" target="_self" method="GET">
          <input type="text" id="A" name="number" placeholder="number of facts">  
          <br>
          <br>
				<button class="learn-more" onclick="window.location='https://someapi.xyz/dogs/fact?number='number;">Api link</button>
        </form>

      </div>  
    </article>
  </div>


	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Invert</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">Inverts a image</h3>
        
        <form action="https://someapi.xyz/invert?" onsumbit="ValidateEntry();" target="_self" method="GET">
          <input type="text" name="avatar" placeholder="image link here">
          <br>
          <br>
				<button type="submit" class="learn-more">Generate</button>
        </form>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Greyscale</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">greyscales a image</h3>

        <form action="https://someapi.xyz/greyscale?avatar=https://cdn.discordapp.com/avatars/599266233350881291/a_fe7d8d7b2b445e3a1a51d28e4b7ef7bb.gif?size=2048" target="_blank" method="GET">
          <input type="text" id="A" name="avatar" placeholder="image link here">  
          <br>
          <br>
				<button type="submit" id="myk" class="learn-more" onclick="window.location='https://someapi.xyz/greyscale?avatar='number;">Generate</button>
        </form>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Wanted</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">Wanteds a image</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/wanted?avatar=https://cdn.discordapp.com/avatars/599266233350881291/a_fe7d8d7b2b445e3a1a51d28e4b7ef7bb.gif?size=2048';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Alert</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">Sends a iphone alert</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/alert?text=Invite+my+discord+bot';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">God</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">hard to explain just try it</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/god_temp?text=How+to+use+other+api';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Biden</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">Joe biden sends a tweet</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/biden?text=Make+sure+to+use+this+api';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">SpongeBob text {JSON}</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">converts the text you send to spongebob mock text</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/mocktext?text=this+is+the+best+api';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Rainbow</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">converts a image into pride flag colors *still in beta</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/api/v1/resources/dogs?number=1';">Api link</button>
      </div>
    </article>
	</div>
	<div class="box">
		<article class="message">

			<div class="message-header">
				<center>
					<h2 style="text-align:center;">Invert</h2>
				</center>
			</div>

			<div class="message-body">
				<h3 style="color:black">Inverts a image</h3>

				<button class="learn-more" onclick="window.location='https://SomeApi.dragonroyale.repl.co/api/v1/resources/dogs?number=1';">Api link</button>
      </div>
    </article>
	</div>
</div style="width:100%">

<script>console.log("hello world")</script>